contextily~=1.6
dask~=2024.11
jupyterlab~=4.2
geopandas~=1.0
leafmap~=0.42
planetary-computer~=1.0
pystac-client~=0.8
rasterio~=1.4
scikit-image~=0.24
scikit-learn~=1.5
scipy~=1.14
tensorflow~=2.18
xarray~=2024.11
ydf~=0.8
