contextily~=1.6.2
dask~=2024.11.2
jupyterlab~=4.2.5
geopandas~=1.0.1
numpy~=1.26.4
planetary-computer~=1.0.0
pystac-client~=0.8.5
rasterio~=1.4.3
scikit-image~=0.24.0
scikit-learn~=1.5.2
scipy~=1.14.1
tensorflow~=2.18.0
xarray~=2024.11.0
